<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
      <div class="card auth">
        <div class="card-body auth-card">
          <form>
            <div class="form-group">
              <label for="mobile">Mobile Number :</label>
              <input type="phone" name="mobile" class="form-control mt-2" placeholder="Mobile Number">
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-success">Get OTP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
