<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
      <div class="card auth">
        <div class="card-body auth-card">
          <form [formGroup]="signInForm">
            <div class="form-group">
              <label for="mobile">Mobile Number :</label>
              <input type="text" id="mobile" name="mobile" class="form-control mt-2" formControlName="MobileNumber"
                placeholder="Mobile Number" minlength="10" maxlength="10">
                <div *ngIf="signInForm.get('MobileNumber').invalid && (signInForm.get('MobileNumber').dirty || signInForm.get('MobileNumber').touched)" class="invalid-feedback">
                    Mobile Number is required.
                </div>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-success" [disabled]="signInForm.invalid" (click) = "onSubmit()">Get OTP</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
