<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-4">
      <div class="card auth">
        <div class="card-body auth-card">
          <form [formGroup]="otpForm">
            <div class="form-group">
              <div class="row text-center">
                <label class="mb-2" for="mobile">Please enter OTP</label>
                <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="config"></ng-otp-input>
              </div>
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-success" [disabled]="otpForm.invalid" (click) = "onSubmit()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
